@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




* {
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

.navbar-container{
  position: fixed;
  width: 100%;
  
}

.name {
  background-color: aquamarine;
  text-align: center;
}

.name h1 {
  font-weight: 400;
}

.navbar {
  background-color: aquamarine;
  margin: 0;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  height: 25px;
  padding: 0 20px 0 20px;
}

.navbar ul li {
  list-style: none;
  font-weight: 500;
}

.description{
  margin-top: 25px;
  padding: 2em;
  text-align: center;
  font-weight: 500;
}

.contacto {  
  padding: 2.5em;
  height: 100vh;
}

.contacto .imgs {
  padding: 25px;
  height: 300px;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.contacto .imgs div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto .imgs div button {
  background-color: #2c2c2c;
  color: white;
  border-radius: 8px;
  padding: 3px;
  font-size: 10px;
  font-weight: 500;
  width: 150px;
  border: none;
  margin-bottom: 0;
  margin-top: 2px;
}



.img1, .img2, .img3 {
  height: 300px;
  width: auto;
  border: 2px solid black;
}

.ver-mas {
  margin-top: 10px;
  text-decoration: none;
  font-size: 12px;
  
}

a{
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
}

.med{
  margin-top: 100px;
}

.acerca-de{
  height: 100vh;
  display: flex;
  padding: 80px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.description-acerca{
  background-color: aquamarine;
  padding: 15px;
  border-radius: 70px;
  font-size: 16px;
  text-align: center;
}

.img-acerca{
  height: 300px;
}

.btn-servicios{
  background-color: aquamarine;
  width: 20%;
  font-size: 22px;
  border-radius: 15px;
  font-weight: 600;
}

.servicios, .tienda{
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  
}

.img-servicios{
  height: 200px;
}

footer{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.icons-container{
  margin-top: 10px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50%;
  background-color: aquamarine;
  border-radius: 15px;
  
}

.icons-container img{
  height: 25px;
  width: 25px;
}
